a {
    color: #27cf8b;
}
a:visited {
    color: #27cf8b;
}
a:hover {
    color: #1fa46e;
}
.wy-side-nav-search>a img.logo {
    width: 252px;
    height: 105px;
}
.wy-side-nav-search, .wy-nav-top {
    background-color: #3d444d;
}
.wy-menu-vertical a {
    color: #b3b3b3;
}
.wy-menu-vertical a:active {
    background-color: #27cf8b;
}
.wy-breadcrumbs li.wy-breadcrumbs-aside {
    display: none;
}
table.docutils {
    width: 100%;
}
.wy-table-responsive table td {
    white-space: pre-wrap;
}
section h2 {
    background-color:#bbb;
    padding: 5px;
}